@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0077b6;
}

header {
  background: white;
  padding: 35px;
  margin: 0;
}

header > h1 {
  padding-top: 15px;
  color: #0077b6;
  text-align: center;
  font-family: Asap Condensed, sans-serif;
  font-weight: bold;
  font-size: 35px;
}

.everything {
  text-align: center;
  font-family: Asap Condensed, sans-serif;
}

.score-board {
  margin: 20px auto;
  border: 4px solid white;
  border-radius: 4px;
  width: 185px;
  color: white;
  font-size: 46px;
  padding: 15px 20px;
  font-family: Asap Condensed, sans-serif;
  position: relative;
}

#user-score{
    padding: auto auto auto 20px;
}

.badge {
  background: #B63F00;
  color: white;
  font-size: 14px;
  padding: 2px 10px;
  width: 50px;
  font-family: Asap Condensed, sans-serif;
}

#user-label {
  position: absolute;
  top: 30px;
  left: -25px;
}

#computer-label {
  position: absolute;
  top: 30px;
  right: -30px;
}

.result {
  font-size: 40px;
  color: white;
}

.result > p {
  font-weight: bold;
  font-family: Asap Condensed, sans-serif;
}

.choices {
  margin-top: 35px;
}

.blue-glow {
  border: 5px solid #497973;
  box-shadow: 0 0 30px #61D4D4;
}

.red-glow {
  border: 5x solid #f21c1b;
  box-shadow: 0 0 30px #d01115;
}

.grey-glow {
  border: 5px solid #464647;
  box-shadow: 0 0 30px #25292b;
}

.choices > img{
  margin: 25px;
  border: 4.5px solid white;
  border-radius: 50%;
  padding: 15px;
  display: inline-block;
  transition: all 0.3s ease;
}

.choices > img:hover {
  cursor: pointer;
  background: #03045e;
}

#action-message{
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 15px;
}
